@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}
.content{
    min-height: 100vh;
    display: flex;
}

.image{
    display: flex;
    flex-direction: column;
    background-position: center;
    justify-content: space-between;
    

}